@{
    ViewBag.Title = "About SK's PET SHOP";
}
<h2>@ViewBag.Title.</h2>


    <div>     
        <img src="~/images/AB.jpg" class="rounded mx-auto d-block" alt="...">
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Hi....!!! Everyone..
                <small class="text-muted">A little info about us...</small>
            </h3>
            <div>
                <h5>
                    Our journey has been eventful, filled with lessons and more love than we hoped for.
                    We're proud today to see that we've built a company that chooses kindness over commerce,
                    values relationships and trusts in the magic of wagging tails.
                    Pets are at the heart of everything we do here,
                    they make our lives whole. With each collection, we do our best to honour them.
                </h5>

                <p>WE BELIEVE PETS ARE FAMILY.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <img src="~/images/c1.jpg" class="img-thumbnail" alt="...">
                    </p>
                </div>
                <div class="col-md-7">
                    <figure>
                        <blockquote class="blockquote">
                            <p>“Dogs do speak, but only to those who know how to listen.”</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Orhan Pamuk
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-7">
                    <figure>
                        <blockquote class="blockquote">
                            <p>“Dogs do speak, but only to those who know how to listen.”“Dogs are not our whole life, but they make our lives whole.”</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Roger Caras
                        </figcaption>
                    </figure>

                </div>
                <div class="col-md-4">
                    <p>
                        <img src="~/images/c2.jpg" class="img-thumbnail" alt="...">
                    </p>
                </div>
          </div>






