@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h5>
    Have a question or need assistance?
    Our friendly, pet-loving team will do their very best to help you out!
</h5>

<address>
    <strong>Call us at :<br /></strong>
    080-223377 <br />
    <strong>OR <br /></strong>
    9876543210
</address>

<address>
    <strong>For Support and Queries::</strong>   <a href="mailto:SKpetshop.com">Support@example.com</a><br />
</address>