@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SK's PET SHOP</h1>
    <p class="lead">One stop destination for all your pet needs.</p>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </br>
    <div class="row">
        <div class="col-md-4">
            <p><a href="" class="btn btn-outline-warning btn-lg">DOGS &raquo;</a></p>
         
        </div>
        <div class="col-md-4">
            <p><a href="" class="btn btn-outline-warning btn-lg">DOG FOOD &raquo;</a></p>
            
        </div>
        <div class="col-md-4">
            <p><a href="" class="btn btn-outline-warning btn-lg">ACCESSEORIES&raquo;</a></p>
            
        </div>
                <p class="lead">Some famous pets are given below.</p>
            </div>
    </div>


            <div class="row">
                <div class="col-md-4">
                    <h2>Golden Retriever</h2>
                    <p>
                        <img src="~/images/GR1.jpg" class="img-thumbnail" alt="...">
                    </p>
                    <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Golden_Retriever">to know more about Golden Retriver&raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>German Shepherd </h2>
                    <p>
                        <img src="~/images/GS.jpg" class="img-thumbnail" alt="...">
                    </p>
                    <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/German_Shepherd ">Click to know more about German Shepherd  &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Siberian Husky</h2>
                    <p>
                        <img src="~/images/SH.jpg" class="img-thumbnail" alt="...">
                    </p>
                    <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Siberian_Husky">Click to know more about Siberian Husky &raquo;</a></p>
                </div>
            </div>
            <div>
                <p class="lead">Dog Foods</p>
                <div class="row">
                    <div class="col-md-4">
                        <h2>Dog Food for gaint breeds</h2>
                        <p><a href="" class="btn btn-outline-warning btn-lg">BUY &raquo;</a></p>

                    </div>
                    <div class="col-md-4">
                        <img src="~/images/2.jpg" class="img-thumbnail" alt="...">
                    </div>
                    <div class="col-md-4">
                        <h2>Dog Food for small breeds</h2>
                        <p><a href="" class="btn btn-outline-warning btn-lg">BUY &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>DOG COLLAR</h2>
                    <p>
                        <img src="~/images/AC.png" class="img-thumbnail" alt="...">
                    </p>
                    <p><a href="" class="btn btn-outline-warning btn-lg">BUY &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>DOG FOOD BOWL</h2>
                    <p>
                        <img src="~/images/FB.png" class="img-thumbnail" alt="...">
                    </p>
                    <p><a href="" class="btn btn-outline-warning btn-lg">BUY &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>DOG BED</h2>
                    <p>
                        <img src="~/images/DB.png" class="img-thumbnail" alt="...">
                    </p>
                    <p><a href="" class="btn btn-outline-warning btn-lg">BUY &raquo;</a></p>
                </div>
            </div>



